.collapsed{
    float: left;
}
ul,li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.header-ul{
    width: auto;
    height: 64px;
    li{
        width: 64px;
        height: 64px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatar{
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 15px;
    }
}
.userMenu-container{
    width: 100%;
    .userMenu-ul{
        width: 100%;
        li:hover{
            background-color: rgb(216, 216, 216);
        }
        li{
            width: 100%;
            height: 30px;
            color: dimgrey;
            line-height: 30px;
        }
    }
}
